<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vam.order">

    <application>
        <activity
            android:name=".Order2Activity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="true" />
    </application>

</manifest>